
body{
    padding-right: 100px;
    height: 336px;
    width: 100%;

}
.navbar{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
button{
    border-radius: 30px;
    background-color: black;
    height: 30px;
    width: 100px;
}
a{
    text-decoration: none;
    color: white;
}

table{
    border-collapse: collapse;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 600px;
}

.red {
    background-color: red;
    width: 600px;
    height: 22px;
}

.white{
    background-color: white;
    width: 600px;
    height: 22px;
}

img{
    position: absolute;
    height: 168px;
    width: 250px;
}