html{
    font-size: 62.5%;
}


body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ADb3bc;

}

a{
    text-decoration: none;
    color: black;
}
.card{
    width: 60rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2rem;
    background: white;
    box-shadow: 10px 5px 5px black;
}

.title{
    text-align: center;
    font-size: 6rem;
    margin-bottom: 1rem;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
    font-size: 2rem;
}

.left{
    background-color: lightblue;
    border-radius: 30px;
    padding: 1rem 2rem;
    flex: 1;
    border: 2px solid black ;
}

.center{
    background-color: lightsalmon;
    border-radius: 30px;
    padding: 1rem;
    margin-left: 1rem;
    flex:1;
    border: 2px solid black ;
}
.right{
    background-color: lightcoral;
    padding: 1rem;
    margin-left: 1rem;
    flex: 1;
    border-radius: 30px;
    border: 2px solid black ;
}
footer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 25rem;
    width: 100%;
   
}

.footbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 7rem;
    border: 2px solid black;
    margin-right: 4rem;
    border-radius: 10px;
    padding: 1rem ;
    background-color: white;
    box-shadow: 10px 5px 5px black;

}

img{
     height: 10rem;
     width: 10rem;
     border-radius: 100%;

}

.madeby{

    text-align: center;
    font-size: 4rem;

}

@media (max-width: 72rem) {
    html{
        font-size:  56.25%;
    }
    .card{
    width: 50rem;
    height: 30rem;
    }
}

@media (max-width: 40rem){
    html{
        font-size: 38%;
    }
    .card {
    width: 40rem;
    height: 20rem;
}
}

@media (max-width: 30rem){
    html{
        font-size: 31%;
    }
    .card{
    width: 40rem;
    height: 30rem;}
}