* {
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
button{
    border-radius: 30px;
    background-color: black;
    height: 30px;
    width: 100px;

}

#content-btn{
    text-decoration: none;
    color: white;
}

.products{
     margin: 10px;
     min-width: 100vh;
    background-color: beige;
    display: grid;  
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "p-one p-two p-three p-four"
    "p-five p-six p-seven p-eight ";
    border: solid black 3px;
    grid-gap: 100px;
    border: 1px solid black;
    padding: 10px;
  
}
img{
    height: 150px;
    width: 150px;
    border: 1px ridge black;
}
a{
    text-decoration: none;
    color: black;
}
#p-one{ 
    padding: 10px;
    border: 2px black solid;
    background-color: white;
    border-radius: 30px;
}

#p-two {
    padding: 10px;
    border: 2px black solid;
    background-color: white;
    border-radius: 30px;
}
#p-three{
     padding: 10px;
    border: 2px black solid;
    background-color: white;
    border-radius: 30px;

}

#p-four{
    padding: 10px;
    border: 2px black solid;
    background-color: white;
    border-radius: 30px;

}
#p-five{
    padding: 10px;
    border: 2px black solid;
    background-color: white;
    border-radius: 30px;
}

#p-six{
    padding: 10px;
    border: 2px black solid;
    background-color: white;
    border-radius: 30px;
}

#p-seven{
    padding: 10px;
    border: 2px black solid;
    background-color: white;
    border-radius: 30px;
}

#p-eight{
    padding: 10px;
    border: 2px black solid;
    background-color: white;
    border-radius: 30px;
}