* { background-color: lightgray;

}

nav{
    margin-bottom: 20px;
    text-align: center;
}
a{
    text-decoration: none;
    background-color: black;
    color: white;
}
button{
    background-color: black;
    border-radius: 30px;
    width: 100px;
}
.black{
    color: black;
    width: 100px;
    height: 100px;
    background-color: black;
}
.white{
    color: white;
    width: 100px;
    height: 100px;
    background-color: white;
}

table{
    border: 3px solid black;
    margin-bottom: 20px;
    border-collapse: collapse;

}

.boxes{ 
    display: flex;

}

.board {
     border:3px solid black;
    margin-bottom: 20px;
    width: 800px;
}
