* { background-color: lightgray;

}

html{
    font-size: 62.5%;
}

nav{
    margin-bottom: 2rem;
    text-align: center;
}
a{
    text-decoration: none;
    background-color: black;
    color: white;
}
button{
    background-color: black;
    border-radius: 30px;
    width: 15rem;
}
.black{
    color: black;
    width: 10rem;
    height: 10rem;
    background-color: black;
}
.white{
    color: white;
    width: 10rem;
    height: 10rem;
    background-color: white;
}

table{
    border: 3px solid black;
    margin-bottom: 2rem;
    border-collapse: collapse;

}

.boxes{ 
    display: flex;

}

.board {
     border:3px solid black;
    margin-bottom: 2rem;
    width: 80rem;
}

@media (max-width: 72rem) {
    html{
        font-size:  56.25%;
    }
}

@media (max-width: 40rem){
    html{
        font-size: 43.75%;
    }

}

@media (max-width: 30rem){
    html{
        font-size: 25%;
    }
     button{
    height: 4rem;
    width: 10em;
     font-size: 1.5rem;
}
}