@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  /* background-color: #F8FAFD; */
}
.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
button {
  border-radius: 30px;
  background-color: black;
  height: 30px;
  width: 100px;
}

#content-btn {
  text-decoration: none;
  color: white;
}

.products {
  margin: 10px;
  min-width: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "p-one p-two p-three p-four"
    "p-five p-six p-seven p-eight ";
  grid-gap: 20px;
 
}
img {
  height: 150px;
  width: 150px;
}
a {
  text-decoration: none;
  color: black;
  background-color: black;
}
#p-one {
  padding: 10px;
  border: 1px black solid;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
}

#p-two {
  padding: 10px;
  border: 1px black solid;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
}
#p-three {
  padding: 10px;
  border: 1px black solid;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
}

#p-four {
  padding: 10px;
  border: 1px black solid;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
}
#p-five {
  padding: 10px;
  border: 1px black solid;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
}

#p-six {
  padding: 10px;
  border: 1px black solid;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
}

#p-seven {
  padding: 10px;
  border: 1px black solid;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
}

#p-eight {
  padding: 10px;
  border: 1px black solid;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
}
